body 
{
    background: linear-gradient(to bottom, #6699ff 0%, #ffff66 100%);
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
}

span 
{
    font-size: 60px;
    border: 1px solid black;
    text-align: center;
    float: center;
}

ul
{
    list-style-type: none;
}

li 
{
    float: right;
}

li a 
{
    display: block;
    color: black;
    text-align: center;
    padding: 16px;
    text-decoration: none;
}

table, th, td
{
    border: 1px solid black;
    border-collapse: collapse;
    text-align: center;
    margin-left: auto;
    margin-right: auto;
}

th, td 
{
    padding: 15px;
}